# Database
DB_PASSWORD=postgres

# Django
SECRET_KEY="Your-Secret-Key-Here"
DEBUG=False
ALLOWED_HOSTS=YOUR_DOMAIN_OR_IPS_HERE
CSRF_TRUSTED_ORIGINS=YOUR_DOMAIN_OR_IPS_HERE
CORS_ALLOWED_ORIGINS=YOUR_DOMAIN_OR_IPS_HERE

# HTTPS
SECURE_SSL_REDIRECT=False

# Gunicorn (optionnel)
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120

# Email
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@example.com
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=no-reply@monapp.com
FRONTEND_URL=https://your-frontend-domain.com