[flake8]
max-line-length = 88

extend-ignore =
    E203,
    W503

exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    node_modules,
    backend/api/migrations,
    backend/api/management/commands,
    backend/config,
    selenium,
    data_migration.py,
    verify_implementation.py
